@font-face {
    font-family: 'norsebold';
    src: url('norse-font/norse-bold-webfont.woff2') format('woff2'),
        url('norse-font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family: "Times New Roman", var(--system-ui);
	line-height: 1.5; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	display: none;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

.bgr {
	position: relative;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    min-height: 100vh;
    width: 30%;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 20%;
	background-color: rgb(0, 0, 0, 0.5);
	height: 170px;
	width: 100%;
}

.logo img {
	height: 150px;
	width: auto;
}

.log-text {
	font-family: "norsebold", var(--system-ui);
	color: white;
	font-size: 8.2rem;
}

.credit {
	position: absolute;
	bottom: 0;
	left: 120px;
	color: white;
}

.credit a {
	color: inherit;
}

.mega {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.container {
	padding-left: 50px;
	width: 100%;
	height: 80%;
	box-shadow: 0px 5px 3px 0px rgb(192, 191, 191);
}

body {
	display: flex;
}

.text-cont {
	width: 62%;
}

.text-1 {
	line-height: 1.0;
	font-family: "Times New Roman", var(--system-ui);
	margin-top: 30px;
	font-size: 1.3rem;
	font-weight: 520;
}

form {
	width: 55%;
	font-size: 1.2rem;
}

form p {
	font-size: 1.2rem;
	font-family: "Times New Roman", var(--system-ui);
	margin: 10px 0px;
}

.frm-cont {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

label {
}

fieldset {
	border: 0;
	display: flex;
	justify-content: flex-start;
}

fieldset + fieldset {
	margin-top: 5px;
}

fieldset div:last-child {
	margin-left: auto;
}

input {
	border: 1px solid #c4c4c5;
	height: 30px;
	padding: 5px;
}

input:focus {
	outline: none;
	border: 1px solid blue;
	box-shadow: 2px 2px 2px rgb(158, 160, 155);
}

input:user-invalid {
	border: 1px solid red;
	box-shadow: 2px 2px 2px rgb(158, 160, 155);
}

#phone-format {
	font-size: 1rem;
	padding-left: 5px;
}

#message {
	margin-left: 20px;
	padding-bottom: 10px;
	display: none;

}

#message p {
	margin: 5px 10px;
}

#message h3 {
	font-size: 1.2rem;
	margin: 5px;
	margin-left: 0px;
}

.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -10px;
	content: '\0021';
}

.valid {
	color: green;
}

.valid::before {
	position: relative;
	left: -10px;
	content: '\2713';
}

.submit-cont {
	/* position: relative;
	top: 120px; */
	padding-left: 66px;
}

button {
	height: 50px;
	width: 250px;
	background-color: #596D48;
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	border: 0;
	border-radius: 15px;
}

button:hover {
	filter: brightness(90%);
}

button:active {
	filter: brightness(100%);
}

.submit-cont p {
	margin: 0;
	margin-top: 10px;
}

.submit-cont a {
	text-decoration: none;
	color: #596D48;
}

h2 {
	margin-bottom: 0px;
}